<?xml version="1.0" encoding="UTF-8"?>
<web-app>
     <servlet>
        <servlet-name>DataServlet</servlet-name>
        <servlet-class>DataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataServlet</servlet-name>
        <url-pattern>/data</url-pattern>
    </servlet-mapping> 
 
</web-app>