<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <servlet>
        <servlet-name>ReceivePassengerData</servlet-name>
        <servlet-class>ReceivePassengerData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSensingData</servlet-name>
        <servlet-class>SearchSensingData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPassengerData</servlet-name>
        <servlet-class>SearchPassengerData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveSensorData</servlet-name>
        <servlet-class>ReceiveSensorData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchSensorList</servlet-name>
        <servlet-class>FetchSensorList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchBusList</servlet-name>
        <servlet-class>FetchBusList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSensorData</servlet-name>
        <servlet-class>UpdateSensorData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReceivePassengerData</servlet-name>
        <url-pattern>/push_passenger</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>SearchSensingData</servlet-name>
        <url-pattern>/request_sensing</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>SearchPassengerData</servlet-name>
        <url-pattern>/request_passenger</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>ReceiveSensorData</servlet-name>
        <url-pattern>/push_sensordata</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>FetchSensorList</servlet-name>
        <url-pattern>/fetch_sensor_list</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>FetchBusList</servlet-name>
        <url-pattern>/fetch_bus_list</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>UpdateSensorData</servlet-name>
        <url-pattern>/update_sensor</url-pattern>
    </servlet-mapping> 
    
    <welcome-file-list>
       <welcome-file>index.html</welcome-file>
    </welcome-file-list>
 
</web-app>